
    
    <!-- TOP NAVBAR -->
    <header class="top-bar">
        <div class="top-logo">
            <span class="logo-icon">✦</span>
            <span class="logo-name">BlogSite</span>
        </div>
        <form method="GET" action="{% url 'explore' %}" class="top-search">
            <span class="search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>
            <input type="text" name="q" value="{{ request.GET.q }}"placeholder="Search for topics, or ideas...">
        </form>
        <div class="top-actions">
            {% if user.is_authenticated %}
                <span class="username">{{ user.username }}</span>
            {% else %}
            <a href="{% url 'signinpage' %}" class="sign-btn">Sign In</a>
            {% endif %}

            <a href="{% url 'bookmark' %}" class="icon-btn"><i class="fa-regular fa-bookmark" style="color: rgb(176, 186, 205);"></i></a>
        </div>
    </header>